 <!--*****************************Start of Home page UI ******************************-->
 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Agri-Connect</h1>  <!---Messages->
    <p>Your one-stop shop for a green tomorrow</p>


     <!--2 roles : farmer and employee -->
    <form asp-controller="Home" asp-action="SelectRole" method="post">
        <div class="btn-group" role="group" aria-label="User Roles">
            <button type="submit" name="role" value="Employee" class="btn btn-primary">Employee</button> <!--employee button -->

            <button type="submit" name="role" value="Farmer" class="btn btn-success">Farmer</button> <!--farmer button  -->
        </div>
    </form>
</div>
<!--*******************************End of home page UI***********************************-->