@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Agri-Energy Connect values your privacy. We are committed to protecting your  information in compliance with the Protection of Personal Information Act (POPIA) of South Africa.</p>

<p>Any personal data you provide—such as your name, contact details, or usage  used solely to improve our services, support your experience, and communicate relevant updates. We do not sell or share your information with third parties without your consent, unless required by law.</p>

<p>By using our website, you agree to this policy. For any questions or concerns, please contact us at <a href="mailto:privacy@agri-connect.co.za">privacy@agri-connect.co.za</a>.</p>
